.footer {
  min-height: var(--footer-height);
  border-top: 1px solid var(--color-background-darker);
}

.footer__wrapper {
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo-wrapper {
  display: flex;
  gap: 48px;
}

.footer__logo-icon {
  width: 200px;
  height: 50px;
  color: var(--color-content)
}