#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--color-content);
  background-color: var(--color-background);
}

main {
  flex-grow: 1;
  padding-top: var(--header-height);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

/* WebKit: (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Firefox */
@-moz-document url-prefix() {
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--color-scrollbar) transparent;
  }
}