.btn {
  min-height: 32px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-white);
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.8;
}

/* .btn:disabled {
  background-color: $color-grey-200;
  cursor: default;
} */

.btn--secondary-light {
  background-color: var(--color-background-lighter);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.btn--error:not(:disabled) {
  background-color: var(--color-error);
}

/* &:focus-visible {
  box-shadow: 0px 0px 5px 2px $color-mandy-100;
} */