.action-card {
  min-width: 600px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 80px 60px 80px;
}

.action-card__icon {
  width: 300px;
  height: 224px;
  color: var(--color-secondary);
  align-self: center;
}

.action-card__button {
  padding: 26px 43px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
  background-color: var(--color-secondary);
}

.action-card__info {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.action-card__info-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}